body {
  font-family: "Anton", sans-serif;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  padding: 0;
}

.list {
  list-style: none;
}
