.about {
  padding-top: 113px;
}
.about__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 58px;
}

.about-info {
  margin-bottom: 67px;
}

.about-info__list {
  display: flex;
  gap: 36px;
}
.about-info__subtitle {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.52;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 19px;
}
.about-info__text {
  width: 564px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  text-align: justify;
  color: #000000;
}

.about-images__list {
  display: flex;
  gap: 30px;
}
