.footer {
  padding-top: 114px;
}
.copyright {
  margin-bottom: 80px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
  color: #000000;
}
